h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform:uppercase;
}

.title-bar {
  background-color:$primary-color;
  .title-bar-title {
    font-weight: 800;
  }
  h3{
    overflow:hidden;
    position:relative;
    top:5px;
    font-size:40px;

    a {
      text-decoration:none;
      color:#fff;
    }
  }
  a {
    text-decoration:underline;
    color:#fff;
  }
  .button {
    border:solid 1px #fff;
  }
}
/*
.title-bar .cover {
  z-index:99999;
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:300px;
  height:300px;
  background: repeating-linear-gradient(45deg,$primary-color, $primary-color 1px, transparent 1px, transparent 3px);
}
*/

div#intro {
  padding-bottom:$global-padding * 3;
  background:$primary-color;
  position:relative;
  top:-20px;
  h1 {
    color:#fff;
    width:50%;
    font-size:40px
  }
  h2 {
    font-family:$body-font-family;
    text-transform:none;
    color:#fff;
    font-weight:normal;
    font-size:23px;
  }
  img {
    width:60%;
    right:-10%;
    position:absolute;
    display:none;
  }
}

@media screen and (min-width: 40em) {
  div#intro {
    h2 {
      font-size:28px;
    }
  }
}

section[role=main]{
  min-height:700px;
  padding-top:$global-padding * 2;
  padding-bottom:$global-padding * 4;
}

footer {
  font-size:$small-font-size;
  border-top:solid 1px $medium-gray;
  padding-top:$global-padding;
  padding-bottom:$global-padding * 2;
  margin-top:$global-margin * 2;
}

.label {
  text-transform:uppercase;
  border:solid 1px;
  background:none!important;
  font-weight:bold;
}

.label.in-progress{ 
  border-color:$primary-color;
  color:$primary-color;
}

.label.future{ 
  border-color:$dark-gray;
  color:$dark-gray;
}

ul.work {
  margin-top:$global-padding;
  li{
    padding-top:$global-padding;
    border-top:solid 1px $medium-gray;
    h3 {
      text-transform:none;
      color:$black;
      font-family:$body-font-family;
      font-size:22px;
    }
    .label {
      margin-bottom:$global-margin / 2;
    }
  }
}

@media screen and (min-width: 40em) {
  ul.work {
    .label {
      display:block;
      float:left;
      position:relative;
      top:2px;
      margin-right:$global-margin / 2;
    }
  }
}
